 <div class="container py-5">
    <h2 class="text-center mb-5 heading">Class Wise Home Work</h2>

    <!-- Homework Rows -->
    <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">1st</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>

    <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">2nd</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>

    <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">3rd</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>

    <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">4th</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>

    <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">5th</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>

     <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">6th</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>

     <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">7th</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>


     <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">8th</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>


     <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">9th</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>


     <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">10th</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>


     <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">11th</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>


     <div class="row text-center homework-row align-items-center">
      <div class="col-md-4">
        <div class="label">Class</div>
        <div class="value">12th</div>
      </div>
      <div class="col-md-4">
        <div class="label">Subject</div>
        <div class="value">All</div>
      </div>
      <div class="col-md-4">
        <button class="btn download-btn">
          DOWNLOAD <i class="bi bi-send ms-2"></i>
        </button>
      </div>
    </div>
  </div>
